/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    .panel-title
    {
        display:none;
    }
    .blank
    {
        display: block;
        visibility:hidden;
    }

    .logo{

    }
    .head-code{
        display: "";

    }
    .customize{
       display:none;
       border:0px;
    }
    .customize td{
       border:0px;
    }
    .headernone{
       visibility: hidden;
    }
.tanggal{

}
.tabel-align{
    text-align: center;
}
    .periode{
        display:none;
    }
    .blankspace{
        display: none;
    }
    #fixheader{
        display:none;
    }

    .list-group-item{
        display:none;
    }
    .panel-primary{
        font-size: 8px;
        outline: 0;
        border: 0;
    }
    .tabel-header
    {
        font-size: 16px;
    }
    .panel-body{
        outline: 0;
        border: 0;
    }
    .panel-heading{
        outline: 0;
        border: 0;
    }
    #shortcut{
        display:none;
    }
    #header{
        display:none;
    }
    .header{
        display:none;
    }
    .uibutton {
        display:none;
    }
    .tip {
        display:none;
    }
    .section .last {
        display:none;
    }
    .dataTables_paginate .paging_bootstrap .pagination{
        display:none;
        margin:0px;
        padding: 0px;
    }
    .table-bordered .table-striped{
        padding-top:0px;
        margin:0px;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .widget-content.table-container .table{
        margin-top: -10px;
    }
    tr .dempet{
        margin: 0px;
        padding:0px;    
    }
    .table th, .table td .table tr{
        margin: 0px;
        padding:0px;  
    }
    .title{
        display: block; 
    }
    .tab_container{
        margin-top:-15px;
    }
    .UITab{
        margin-top:-15px;
    }
    .boxtitle{
        display:none;
    }
    .dataTables_filter{
        display:none;
    }
    .pull-right{
        display:none;
    }
    .ColVis .TableTools
    {
        display:none;
    }
    .data_table3{
        margin-top:-20px;
    }
    .row-fluid .tb-foot{
        display:none;
    }
    #topcontrol{
        display:none;
    }
    .last {
        display:none;
    }
    #footer{
        display:none;
    }
    button.btn, input[type="submit"].btn{
        display: none;
    }
    .atas{
        display: block;
    }

    * {
        /*background: transparent !important;*/
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    .dt_header{
        display:none;
    }
    .row-fluid [class*="span"]:first-child {
        font-size: 8px;
    }
    td {
        font-size: 8px;
    }
    input[type="submit"].btn{
        display:none;
    }
    input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
        border: none;
        background-color: transparent;
    }
    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        border: none;
        background-color: transparent;
    }
    input 
    {
        border:none;
        border-color: transparent;
        border: 0;
        background-color: #fff;
    }
    tr .atas{
        display:block;
    }
    tr .bawah{
        display:none;
    }
    .bawah{
        display:block;
    }
    .tabel-hidden
    {
        display:none;  
    }
    .tabel-resize {
        width:20%;
    }
    .subtotal_item {
        border-top: 10px solid #999
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }
    .table th, .table td{
        margin: 0px;
        padding: 0px;
        padding-top: 9px;
    }
    .title {
        display:none;
    }
    .rowdetail {
        font-size: 12px;
    }
    .rowdetail2 {
        font-size: 16px;
    }
    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}