/* TABLE OF CONTENT
 * ----------------------------------------
 * 1. MAIN LAYOUT
 * 2. DROPDOWN NAVIGATION MENU
 *
 */


/* MAIN LAYOUT
 * ------------------------------------------------
 * 
 */

 .container-fluid{
  padding: 0 10px;
}
.atas {
    display:none;
}


tr{
  cursor:pointer;
  cursor:hand;
} 
a.list-group-item {
  border:1px solid #141456;
}
.navbar{
  border-radius: 0;
}
.navbar-default {
  background-color: #141456;
  border-color: #141456;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color:#fff;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
} 

input[type="checkbox"], input[type="radio"] {
  height: 27px;
}

.table-outer{
  height: 350px;
  overflow: auto;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}

.dataTables_wrapper .form-inline .row{
  margin: 0;
  background: blue;
}

 /* DROPDOWN NAVIGATION MENU
 * ------------------------------------------------
 * 
 */

 .dropdown-submenu{
  position:relative;
}

.dropdown-submenu > .dropdown-menu
{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
  display:block;
}

.dropdown-submenu > a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;
  margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
  border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
  float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
  left:-100%;
  margin-left:10px;
  -webkit-border-radius:6px 0 6px 6px;
  -moz-border-radius:6px 0 6px 6px;
  border-radius:6px 0 6px 6px;
} 
.currency {
  text-align: right;
}
.blank {
  display: none;
}
.watermark{
    position:fixed; 
    width: 50%; 
    margin:auto;
    top:200px;    
    left:475px;    
    z-index:5;
    transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    -moz-transform: rotate(335deg);
    -o-transform: rotate(335deg);
    -ms-transform: rotate(335deg);
}